 .box {
     width: 200px;
     height: 50px;
     margin-bottom: 30px;
     margin-left: auto;
     margin-right: auto;
     display: ;
 }

 #A {
     background: rgb(255, 193, 193);
 }



 body {

     display: grid;
     gap: 1.5;
     background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
     margin: 10px;
 }

 @import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

 @font-face {
     font-family: "Karrik";
     src: url("typo/Karrik-Regular.woff2") format("woff2"),
         url("typo/Karrik-Regular.woff2") format("woff2");
     font-family: "Karrik-italic";
     src: url("typo/Karrik-Italic.woff2") format("woff2"),
         url("typo/Karrik-Italic.woff2") format("woff2");
 }

 .titre {

     padding: 20px;
     font-family: "Karrik";
     font-size: clamp(26px, 4vw, 36px);
     color: white;
     text-align: left;

 }

 .titreinside {

     padding: 20px;
     font-family: "Karrik";
     font-size: clamp(26px, 4vw, 36px);
     color: white;
     text-align: left;
 }

 .texteimage {
     color: rgb(54, 32, 83);
     opacity: 70%;
     font-family: 'Karrik';
     display: block;
     font-size: clamp(13px, 3vw, 16px);
     text-align: center;
 }

 .barrenav {
    display: inline;
}

 h2 {
     font-family: 'Karrik';
     color: white;
     text-align: center ;
     font-size: clamp(11px, 4vw, 26px);
     margin-bottom: 30px;
 }



 p {
     color: rgb(54, 32, 83);
     font-family: 'Karrik';
     display: block;
     font-size: clamp(13px, 4vw, 18px);
     text-align: left;
     margin-bottom: 50px;
 }

 img {
     max-width: 100%;
     margin: 0px auto;
     height: auto;
     border-radius: 20px;
     opacity: 100%;
 }

 .imagesinside {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 16px;
 }

 /*changement de colones*/
 @media (min-width:400px) {
     .images {
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 16px;
     }
     .barrenav {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }}
    

 @media (min-width:700px) {
     .images {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         gap: 16px; }

         .h2num1 {
            text-align: right;
        }
       
        .h2num3 {
            text-align: left;
        }
    
 }