/* new style */

/* roboto-300 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('typo/roboto-v29-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('typo/roboto-v29-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300-italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local(''),
       url('typo/roboto-v29-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('typo/roboto-v29-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('typo/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('typo/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('typo/roboto-v29-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('typo/roboto-v29-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('typo/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('typo/roboto-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('typo/roboto-v29-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('typo/roboto-v29-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}  
 @import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

 @font-face {
   font-family: "Karrik";
   src: url("typo/Karrik-Regular.woff2") format("woff2"),
     url("typo/Karrik-Regular.woff2") format("woff2"); 
}

@font-face {
   font-family: "Maragsa";
   src: url("typo/Maragsa-Display.woff2") format("woff2"),
     url("typo/Maragsa-Display.woff2") format("woff2"); 
}

 @font-face {
   font-family: "Ouroboros";
   src: url("typo/Ouroboros-Regular.woff2") format("woff2"),
     url("typo/Ouroboros-Regular.woff2") format("woff2");
 }


.box1 {
   width: 100%;
   margin-bottom: 30px;
   align-items: left;
   border-radius: 20px;
   grid-column: 2/3;
 }

 #A {
   background: rgb(255, 255, 255);
 }

 body {
   background: linear-gradient(-45deg, #b687f3, rgb(248, 195, 230),rgb(255, 237, 210));
   background-size: 200% 200%;
   animation: gradient 15s ease infinite;
   height: 100%;
   margin: 10px
 }

 @keyframes gradient {
   0% {
     background-position: 0% 50%;
   }

   50% {
     background-position: 100% 50%;
   }

   100% {
     background-position: 0% 50%;
   }
 }

 h1 a {
   text-decoration: none;
   color: currentColor;
 }

 .i {
   image-rendering: optimizeQuality;
   transition: 0.4s;
 }

 .i:hover {

   transform: translateY(-10px);

 }

 .titre {

   padding-bottom: 20px;
   font-family: "Maragsa";
   font-size: clamp(30px, 4vw, 40px);
   letter-spacing: 0.09em;
   text-shadow: 2px 2px 2px rgb(24, 32, 83);
   color: white;
   text-align: left;

 }



 .titreinside {

   padding-bottom: 20px;
   padding-left: 20px;
   text-shadow: 2px 2px 2px rgb(141, 50, 168);
   font-family: "Karrik";
   font-size: clamp(26px, 4vw, 36px);
   color: white;
   text-align: left;
 }

 .texteprojets {
   padding-left: 20px;
   color: rgb(3, 3, 3);
   text-align: justify;
   padding-right: 30px;
 }

 .texteimage {
   color: rgb(54, 32, 83);
   opacity: 70%;
   font-family: 'Karrik';
   display: block;
   font-size: clamp(13px, 3vw, 16px);
   text-align: center;
 }




 h2 a {
   text-decoration: none;
   color: currentColor;
 }

 .h2bn {
   font-family: "Roboto";
   font-style: normal;
  font-weight: 700;
   color: rgb(0, 0, 0);
   text-align: center;
   font-size: clamp(10px, 1.5vw, 26px);
 }
 .h2bn1 {
  font-family: "Roboto";
  font-style: normal;
 font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: black;
  border-radius: 50px;
  text-align: center;
  font-size: clamp(10px, 1.5vw, 26px);
  margin-bottom: 40px;
  margin-left: 7px;
  margin-right: 7px;
}


 p {
   color: rgb(54, 32, 83);
   font-family: 'Karrik';
   display: block;
   font-size: clamp(13px, 4vw, 18px);
   text-align: left;
   margin-bottom: 50px;
 }

 .titreintext {
   color: rgb(3, 3, 3);
   font-size: clamp(13px, 4vw, 18px);
   padding: 30px;
   margin-bottom: 0px;
 }

 .p1 {
   color: rgb(3, 3, 3);
   font-size: clamp(13px, 4vw, 18px);
   padding: 30px;
   margin-bottom: 0px;
 }

 .p2 {
   color: rgb(71, 47, 61);
   font-size: clamp(13px, 4vw, 18px);
   padding: 30px;
   margin-bottom: 0px;
 }


 img {
   max-width: 100%;
   margin: 0px auto;
   height: auto;
   opacity: 100%;
   border-radius: 5px;
 }


 .imagesinside {
   padding-right: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 16px;
 }




 .imginter {
   display: block;
 }

 .logo{
  max-width: 50%;
}

.barrenav {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


 /*changement de colones*/
  @media (min-width:400px) {
   .images {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 16px;
     padding-left: 20px;
  padding-right: 20px;
   }
   .barrenav {
    padding-left: 20px;
  padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    text-align: center;
  }
  .logo{
    max-width: 100%;
  }
  .h2bn{
    margin-top: 25px;
  }
  .h2bn1{
    margin-top: 25px;
  }
 } 


 @media (min-width:750px) {
   .images {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 16px;
     padding-left: 50px;
     padding-right: 50px;
   }
   .barrenav {
    padding-left: 20px;
     padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    text-align: center;
  }
  .logo{
    max-width: 100%;
  }
  .h2bn{
    margin-top: 50px;
  }
  .h2bn1{
    margin-top: 50px;
    margin-left: 15px;
  margin-right: 15px;
  }

  @media (min-width:1100px) {
    .logo{
      max-width: 200%;
    }
    .h2bn{
      margin-top: 100px;
    }
    .h2bn1{
      margin-top: 100px;
      margin-bottom: 60px ;
    }

    @media (min-width:1800px) {
      .h2bn1{
        
         margin-left: 50px ;
         margin-right: 50px ;
      }
    }


 } 

 /*image interractive
  .box {
    position: relative;
    background: rgb(196, 133, 255);
    width: 400px; height: 300px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    border-radius: 20px;
  }
  .box img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
  }
  .box:before {
    transition: all 0.35s ease;
  }
  .box:after {
    transition: all 0.35s ease;
  }
 .box .info {
    position: absolute; left: 0; bottom: 0;
    color: #fff;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    height: auto;
  }
  .box .info h3 {
    font-size: 24px;
    line-height: 40px;
    text-overflow: ellipsis;
    font-family: 'Karrik';
    text-align: center;
  }
  .box .info p {
    font-size: 16px;
    font-family: 'Karrik';
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
  }
  .box:hover .info {
    opacity: 1;
  }
  .box:hover img {
    opacity: 0.5;
  }


fin image interractive*/